//Reset general
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

//Variables Media Queries
 $mq320: 320px;
 $mq480: 480px;   
 $mq640: 640px;
 $mq768: 768px;
 $mq1024: 1024px;
 $mq1200: 1200px;   
    